
<div class="input-group date" data-date-format="yyyy-mm-dd" data-provide="datepicker">
    <input type="text" class="form-control" name="{{ name }}" value="{{ value }}">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>
