<div class="input-group image-upload">
    <div class="row">
        <div class="col-sm-2 hinh_left">
            <span class="lnr lnr-user"></span>
            <img src="/images/products/thumbs/{{ product.image }}" alt="" class="anh" style="" id="img_url">
        </div>
        <div class="col-sm-10 hinh_right">
            <p class="noidung1"> Photo should be at 300px x 300px </p>
            <input type="hidden" name="_token" value="{{ csrf_token() }}">
            <input type="file" name="uploadfile" class="Chon" style="display: none;" id="img_file" onChange="img_pathUrl(this);">
            <span class="btn btn-outline-secondary btn-upload nutchon"><i class="lnr lnr-upload"></i> {{ 'Upload' }}</span>
            <button class="btn btn-outline-secondary btn-remove"><i class="lnr lnr-trash"></i> {{ 'Remove' }}</button>
        </div>
    </div>    
</div><!-- /input-group image-upload [TO HERE]-->
